__pycache__
.*
*env
!.gitignore
flagged
venv
gradio_cached_examples
gradio-env
models
Context*.txt
plugins/voicevox/VOICEVOX
plugins/Local_EN_to_JA/models--staka--fugumt-en-ja
plugins/VtubeStudio/token.txt
*.wav
*.mp3
*.exe
*.pth
*.index
!vs_BuildTools.exe