__pycache__
.*
!.gitignore
flagged
venv
gradio_cached_examples
gradio-env
models
Context*.txt
plugins/voicevox/VOICEVOX
plugins/Local_EN_to_JA/models--staka--fugumt-en-ja
*.wav
*.mp3
*.exe
!vs_BuildTools.exe